@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

/* header styling */
header{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
header h1 {
  margin-left: 20px;
  font-family: 'Architects Daughter', cursive;
}
ul {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 30px;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  
  
}
li {
  list-style: none;
  margin-right: 6px;
  
}
a {
  text-decoration: none;
  color:black;
  padding: 10px;
  font-family: 'Architects Daughter', cursive;

}

/* login form styling */
.loginForm {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginForm form {
  height: 40%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  background-color: lavender;
  font-family: 'Architects Daughter', cursive;

}
.loginForm form h2 {
  color: dimgray;
}

.loginForm form input {
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}

.loginButton {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  font-family: 'Architects Daughter', cursive;
}

/* friends list styling */
.friendslistContainer {
  display: flex;
  flex-direction: column;  
  align-items: center;
}
.friendsList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  width: 60%;

}
.indFriend {
  display: flex;
  flex-direction: column;
  background-color: gold;
  border-radius: 10px;
  color: dimgray;
  padding: 10px;
  margin-top: 10px;
  height: 200px;
  width: 200px;
}
.addFriend {
  width: 60%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.addContainer {
  height: 50%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  background-color: lavender;
  font-family: 'Architects Daughter', cursive;
}
.addForm {
  display: flex;
  flex-direction: column;
}
.addForm h2 {
  text-align: center;
}
.addFormInputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.addFriendLabel {
  border-radius: 10px;
  text-align: center;
}
.addButton {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  font-family: 'Architects Daughter', cursive;
}
